.carouselWrapper{
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carouselImgContainer {
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    
    margin-left: -2200px;
}

.carouselMoveRight {
    margin-left: -3400px;
    transition: margin 1s ease;
}

.carouselMoveLeft{
    margin-left: -1000px;
    transition: margin 1s ease;
}


.carouselImg {
    width: 1200px;
}

.carouselBtn {
    position: absolute;
    border: none;
    background-color: rgba(78,78,78,0.9);
    height: 600px;
    color: whitesmoke;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    z-index: 5;
}

#left{
    left: 0;
    background-image: url(../img/left.png);
    
}

#right{
    right: 0;
    background-image: url(../img/right.png);
}

.carouselBtn:hover {
    background-color: rgba(78, 78, 78, 0.97);
}

@media screen and (max-width: 764px){
    .carouselImg, .carouselWrapper, .carouselBtn{
        height: 450px;
        max-width: 900px;
    }
    .carouselImgContainer{
        margin-left: -900px;
    }
    .carouselMoveLeft {
        margin-left: 0px;
    }
    .carouselMoveRight {
        margin-left: -1800px;
    }
    .carouselBtn {
        height: 30px;
        bottom: 0;
    }
    #left {
        left: 50%;
        margin-left: -60px; 
    }
    #right {
        left: 50%;
    }


}
@media screen and (max-width: 411px){
    .carouselImg{
        height: 300px;
        max-width: 600px;
    }
    .carouselWrapper {
        height: 300px;
    }
    .carouselBtn {
        height: 30px;
    }
    .carouselImgContainer{
        margin-left: -600px;
    }
    .carouselMoveLeft {
        margin-left: 0px;
    }
    .carouselMoveRight {
        margin-left: -1200px;
    }
    
}